/*@font-face {
    font-family: br-firma;
    src: url(/fonts/br-firma-cufonfonts/BR\ Firma\ Black.otf);
    font-weight: black-firma;
}*/

@font-face {
    font-family: br-firma;
    src: url(/fonts/br-firma-cufonfonts/BR\ Firma\ Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: br-firma;
    src: url(/fonts/br-firma-cufonfonts/BR\ Firma\ Medium.otf);
    font-weight: normal;
}

@font-face {
    font-family: br-firma;
    src: url(/fonts/br-firma-cufonfonts/BR\ Firma\ Light.otf);
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    color: white;
    font-family: br-firma;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background:  #151216;
    /*background: linear-gradient(45deg, #180E19, #180E19);*/
    height: 100vh;
}

form, #password, #confirm_password, #email, .username {
    border: 2px solid #332F38;
}

form, #password, #confirm_password, #email, #loginBtn, #signUpBtn, #close-button, .username {
    border-radius: 6px;
}

.form_header, .form_header2, label, #loginBtn, #signUpBtn {
    color: white;
}

#email:focus, #password:focus, #confirm_password:focus, .username:focus {
    border: 3px solid hsl(267, 10%, 36%);
}

#close-button, #notifier {
    padding: 0.5em 0.9em;
}

#notifier, #close-button:hover {
    background: rgba(131, 59, 59, 0.5);
}

#generate_button, #close-button, #loginBtn, #signUpBtn, a {
    cursor: pointer;
}

form {
    width: 20em;
}

#notifier {
    border-right: 1px solid rgb(255, 0, 0, 1);
    display: none;
}

#alert_modal {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 0, 0);
    overflow: hidden;
    visibility: hidden;
}

#close-button {
    display: none;
    border: none;
    background: transparent;
    border-radius: 0px;
    transition: 100ms;
    margin-right: 10px;
}

#close-button img, #notifier img {
    width: 16px;
}

#message-core {
    font-size: 0.8em;
    outline: 0px solid;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #25212A;
    padding: 2.5em;
    order: 2;
}

.form_header {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: medium;
    opacity: 0.3;
}

.form_header2 {
    margin: 0.3em 0 1em 0;
}

label {
    display: flex;
    justify-content: space-between;
    border: 0px solid red;
    margin: 1.5em 0 0.5em 0;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0.6;
}

#loginBtn, #signUpBtn {
    display: block;
    width: 100%;
    /*background: #7C00FF;*/
    background: #7c00ff;
    padding: 1em 0;
    border: 0px solid;
    font-weight: bolder;
    margin: 2em 0;
}

input[type=email], [type=password], [type=text] {
    width: 90%;
    background: transparent;
    padding: 0.8em 1.1em;
    border: 1px solid;
    outline: none;
}

input::placeholder {
    font-size: 0.9em;
    opacity: 0.85;
    font-weight: bold;
}

.reg_link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 0px solid red;
    font-size: 0.8em;
}

.reg_link > span {
    margin: 0 0 0 0.3em;
    font-weight: bold;
    opacity: 0.8;
}

.reg_link span:nth-child(2) img {
    width: 14px;
}

.greyed-text {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}

a {
    text-decoration: none;
}

.forgot_password {
    font-size: 0.9em;
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
        /*background: red;*/
    }
}